{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block stylesheets %}
    <link href="/css/new.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Créer une Image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('app_image_index') }}">Retour à la liste</a>
{% endblock %}
